body {
  color: #222222;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
  margin: 0.625rem 0 1.625rem;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4.5rem;
    margin: 2.25rem 0;
  }
}

h2 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0.875rem;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 1.375rem;
  }
}

p, li {
  font-size: 1.125rem;
  line-height: 1.4;
}

@media (min-width: 1024px) {
  p, li {
    font-size: 1.375rem;
  }
}

a {
  color: #77325A;
  font-weight: 700;
}

a:hover, a:focus {
  color: #3D0927;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.grid {
  background: linear-gradient(225deg, #DAD02D 0%, #65C7E9 100%);
  border: 0.5rem solid #FFFFFF;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto min-content;
  min-height: 100vh;
  min-width: 100vw;
  padding: 1.625rem;
}

@media (min-width: 1024px) {
  .grid {
    border-width: 1.625rem;
    padding: 2.25rem 3.875rem;
  }
}

nav {
  margin-bottom: 1.625rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 0.625rem;
}

nav a {
  display: inline-block;
  font-weight: 900;
  text-decoration: none;
  border-bottom: 2px solid #A55B87;
}

@media (min-width: 1024px) {
  nav a {
    border-width: 4px;
  }
}

nav a:hover, nav a:focus {
  border-color: #3D0927;
}

section {
  margin-bottom: 2.25rem;
}

section p {
  margin: 0;
}

.lead {
  font-size: 1.625rem;
}

@media (min-width: 1024px) {
  .lead {
    font-size: 1.875rem;
  }
}

.previous-roles {
  list-style: none;
  padding: 0;
  margin: 0;
}

.previous-roles li {
  margin: 0 0 0.675rem;
}

.copyright {
  font-size: 0.875rem;
  margin: 0;
}

.error .grid {
  background: linear-gradient(225deg, #240b36 0%, #c31432 100%);
  color: #FFFFFF;
}

.error a {
  color: #FFE15C
}

.error a:hover, .error a:focus {
  color: #FFF9DB;
}

.error nav a {
  border-color: #FFE5A6
}

.error nav a:hover, .error nav a:focus {
  border-color: #FFF9DB;
}
